/target
log
*.tsv
test.sh
*.txt
*.kvmer
*.log
*.out
*.ipynb
*.fastq.gz
*.fastq
.vscode
__pycache__
test
web
node_modules/
dist/
src-tauri/target/
src-tauri/gen/
ui/src-tauri/binaries/skiver-*
example/*.kvmer.csv
sim*
ERR3152366*